/* My Variabel */
:root {
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;
    --thirdTextColor: #972734;
    --forthTextColor: #ffeeee;
    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;
    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;
    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;
    --itemBorderRadius: 0.7rem;
}

@media screen and (max-width: 1000px) {
    p{
        font-size: 0.9rem;
        line-height: 1.8rem;
    }
    .grid-3 {
        gap: 1rem;
    }
}

@media screen and (max-width: 825px){
    /*Burger Menu*/
    .burger{
        display: block;
        cursor: pointer;
        z-index: 1001;
    }

    .toggle-burger .line-1{
        transform: rotate(-45deg) translate(-5px, 7px);
    }

    .toggle-burger .line-2{
        opacity: 0;
    }

    .toggle-burger .line-3{
        transform: rotate(45deg) translate(-5px, -7px);
    }

    /*Navigation*/
    nav {
        position: fixed;
        width: 50%;
        right: 0;
        top: 0;
        /*100vh agar besar ke satu halaman*/
        height: 100vh;
        flex-direction: column;
        background: var(--primaryBackgroundColor);
        border-left: 1px solid var(--borderColor);
        z-index: 1002;
        transform: translateX(100%);
        transition: 0.3s ease-in-out;
    }

    nav ul{
        height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .nav-active{
        transform: translateX(0);
    }

    :root {
        --sectionPadding: 4rem 0;
    }

    .section-title{
        font-size: 1.6rem;
        margin: 0.6rem 0 2.5rem;
    }

    .pre-title{
        font-size: 0.8rem;
    }

    /*Hero - Our Page*/
    #hero-profile{
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .hero-section-right{
        order: -1;
    }

    .hero-section-right img {
        padding-top: 70px;
        margin-left: 15px;
        width: 50%;
    }

    .hero-section {
        text-align: center;
        padding-bottom: 5rem;
        order: 2;
    }

    .hero-section .profile-pre-title {
        margin: 0 auto;
    }

    .hero-profile-name {
        font-size: 2.3rem;
        margin-bottom: 0.5rem;
    }

    footer {
        padding: 1rem 0;
    }

    /*Page Home*/
    #hero {
        grid-template-columns: 1fr;
    }

    .pre-title {
        margin: 0 auto;
    }

    .hero-des {
        font-size: 1rem;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    footer {
        padding: 50rem 0 5rem;
    }

    /*Page Message*/
    #message {
        padding-top: 6rem;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 640px){

}