@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

/* My Variabel */
:root {
    --primaryTextColor: #232e35;
    --secondaryTextColor: #656d72;
    --thirdTextColor: #972734;
    --forthTextColor: #ffeeee;
    --borderColor: #f1f1f1;
    --lineColor: #d9d9d9;
    --primaryBackgroundColor: #fff;
    --secondaryBackgroundColor: #fbfbfb;
    --thirdBackgroundColor: #f5f3fe;
    --primaryIconColor: #7e74f1;
    --primaryIconColorHover: #5d51e8;
    --sectionPadding: 6rem 0;
    --itemBorderRadius: 0.7rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
}

div {
    display: block;
}

h1,h2,h3,h4,h5,h6, strong{
    color: var(--primaryTextColor);
}

p {
    /* 1rem itu sama dengan 16 px*/
    font-size: 1rem;
    line-height: 1.9rem;
    color: var(--primaryTextColor);
}

label, input, textarea, li{
    color: var(--secondaryTextColor);
}

span {
    color: var(--forthTextColor);
}

a {
    /* agar tidak ada garis bawah di teks nya*/
    text-decoration: none;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 100%;
    }
}

header {
    padding: 70px 0px 20px;
    margin: 0 0 -100px;
    background-image: url("../img/HuTao.png");
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -120px;
}

/*Layout*/
.grid-3 {
    display: grid;
    /*Responsif*/
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /*Jarak 3rem*/
    gap: 3rem;
    padding: 50px;
    margin-top: -90px;
    
}

/*Navbar*/
.nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: var(--secondaryBackgroundColor);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.nav ul{
    list-style: none;
    display: flex;
    /*memberi gap atau jarak*/
    gap: 3rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    padding: 0 1rem;
}

nav ul li {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

nav ul li a {
    color: var(--primaryTextColor);
    margin-right: 30px;
    margin-left: -30px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav ul li a:hover {
    color: var(--thirdTextColor);
}
/*End Of Navbar*/

/* Burger */
.burger div{
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger{
    display: none;
    z-index: 1003;
    position: fixed;
    top: 33px;
    right: 35px;
}

/* Titles */
.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--forthTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 2px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/*Pages Our-Profil*/
.profile-pre-title {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: var(--primaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 400;
    font-size: 0.9rem;
}

.profile-pre-title::before {
    content: "";
    width: 30px;
    height: 2px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* Hero section Pages Index*/
#hero {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
    color: var(--forthTextColor);
}

.hero-name span{
    color: var(--thirdTextColor);
}

.hero-des {
    font-size: 16px;
    font-weight: 500;
    margin: 0.5rem 0 1rem;
    color: var(--thirdBackgroundColor);
}

/*Hero Section Page Our-Profile*/
#hero-profile {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.hero-profile-name {
    font-size: 3rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
}

.hero-profile-name span{
    color: var(--thirdTextColor);
}

.hero-profile-des {
    font-size: 2rem;
    font-weight: 700;
    margin: 0.5rem 0 1rem;
    color: var(--secondaryTextColor);
}


/*Page Our-Profile*/
.hero-section-right img {
    width: 50%;
    margin-left: 300px;
}

.hero-section-right {
    display: flex;
    justify-content: center;
}

/*---- Headquarter ----*/
#headquarter {
    background-color: var(--primaryBackgroundColor);
    margin-top: 100px;
}

.headquarter-main-container .pre-title {
    color: var(--primaryTextColor);
    margin: 0 50px;
}

.section-title {
    text-align: left;
    padding-left: 50px;
}
/*Kotak di logo bulat*/
.headquarter {
    padding: 3rem 2rem;
    text-align: center;
    background: var(--secondaryBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.headquarter-main-container {
    height: 550px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.headquarter-icon img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: -6px -18px 0;
}

.headquarter h4{
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.05rem;
}

/*.headquarter-icon {
    background: var(--primaryTextColor);
    width: 170px;
    height: 170px;
    margin-top: 50px;
    margin-bottom: -10px;
    margin-left: 80px;
    padding: 1rem 1.3rem;
    border-radius: 50%;    
}*/

/*---- End Of Headquarter ----*/

/*Footer Section*/
footer {
    padding: 0.5rem 0;
    background: var(--primaryBackgroundColor);
    text-align: center;
}

.footer-icons {
    margin-bottom: 0.5rem;
}

.footer-icons a {
    margin: 0 0.5rem;
}

.footer-icons svg {
    /*Kode warna #3e3f40*/
    fill: #3e3f40;
}

.footer-icons a:hover svg {
    fill: #000;
}

/*Message Section*/
#message {
    padding: var(--sectionPadding);
}

.message {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 3rem;
}

.message div {
    margin-bottom: 1.4rem;
}

.message label {
    font-size: 0.9rem;
}

.message input,
.message textarea{
    width: 100%;
    padding: 0.75rem 1.3rem;
    font-family: "Roboto", sans-serif;
    background: var(--secondaryBackgroundColor);
    border: 1px solid var(--borderColor);
    border-radius: 3px;
    resize: none;
}

.message input[type="radio"]{
    width: 40px; 
    height: auto; 
    padding-top: -30px;
    margin-right: 5px; 
    border: 1px solid #ccc; 
    border-radius: 50%; 
    background-color: white; 
    cursor: pointer; 
}

.message input::placeholder,
.message textarea::placeholder {
    color: #9d9fa1;
}

.message input:focus,
.message textarea:focus {
    outline: none;
    border: 1px solid #7d7d7d;
}

.btn-submit {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background-color: var(--thirdTextColor);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}